<div class="col-md-6">
    <div class="card custom-card text-white">
        <div class="card-header border-0 pt-9">
            <div class="card-title m-0">
                <div class="symbol symbol-50px w-50px">
                    <i class="fas fa-handshake fa-3x"></i>
                </div>
            </div>
            <div class="card-toolbar">
                <button class="btn btn-light fw-bolder px-4 py-3" onclick="CheckActiveBorrower()">Refresh</button>
            </div>
        </div>
        <div class="card-body p-9">
            <div class="fs-3 fw-bolder">Active Borrower</div>
            <div class="fs-5 text-red" id="active-borrower">Loading....</div>
        </div>
    </div>
</div>