<div class="col-md-6">
    <div class="card custom-card text-white">
        <div class="card-header border-0 pt-9">
            <div class="card-title m-0">
                <div class="symbol symbol-50px w-50px">
                    <i class="fas fa-handshake fa-3x"></i>
                </div>
            </div>
            <div class="card-toolbar">
                <button class="btn btn-light fw-bolder px-4 py-3" id="takeoutButton">TakeOut</button>
            </div>
        </div>
        <div class="card-body p-9">
            <div class="fs-3 fw-bolder">Take Out Fund</div>
            <div class="fs-5" id="takeout-balance">Current Balance: 0</div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="takeOutFundModal" tabindex="-1" aria-labelledby="takeOutFundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="takeOutFundModalLabel">Take Out Funds</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="takeOutAmount">Enter Amount to Withdraw:</label>
                <input type="number" class="form-control" id="takeOutAmount" placeholder="Enter amount" min="1" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="takeOutFundButton">Take Out Funds</button>
            </div>
        </div>
    </div>
</div>

