@using Gigras.Software.Database.Cyt.Entity.Models
@model Form
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var csc = "";
    var mode = "";

    ViewBag.Title = $"{Model.FormDescription}";
    csc = Model.FormName;
    mode = "form";
}

<div class="full-page-heading text-center">
    @Html.Raw(ViewBag.Title)
</div>
@if (Model.IsMetaMaskRequired)
{
    <div id="meta-container">
        <h1>Login with MetaMask</h1>
        <button id="loginMetaMaskButton">Login In MetaMask</button>
        <p id="metamaskstatus" class="status-disconnected">Please connect to MetaMask to log in.</p>
    </div>
}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <!--begin::Card-->
        <div class="card card-flush">
            <!--begin::Card header-->
            <div class="card-header mt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1 me-5">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <i class="fa fa-search"></i>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-category-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Category" />
                    </div>
                    <!--end::Search-->
                </div>
                <!--end::Card title-->
                @if (ViewBag.FormDescription == null || (Model.FormDescription != null && !Model.FormDescription!.ToLower().Contains("transaction")))
                {
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Button-->
                        <button type="button" class="btn btn-light-primary" onclick="location.href='/sadmin/borrower/@Model.FormGroup/@mode/@csc'">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                            <span class="svg-icon svg-icon-3">
                                <i class="fa fa-plus"></i>
                            </span>
                            <!--end::Svg Icon-->
                            Add  @Html.Raw(Model.FormDescription)
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Card toolbar-->
                }
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="kt_category_table" data-formgroup="@Model.FormGroup" data-formid="@Model.Id">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">#</th>
                                <th>Created By</th>
                                <th>Created At</th>
                                <th class="text-end min-w-50px">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>

<div id="jsonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="jsonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 80% ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-header bg-secondary text-white py-3" style="border-radius: 0.5rem 0.5rem 0 0;">
                        <h3 class="mb-1" style="font-weight: 600;">View Data</h3>
                    </div>
                    <div class="card-body" id="jsonData">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    let csc = '@csc';
</script>
<script src="~/js/admin-website/borrower.js"></script>
<script src="~/js/admin-website/module/abi.js"></script>
<script src="~/js/admin-website/module/contract-address.js"></script>
<script src="~/js/admin-website/module/loan-data.js"></script>
<script src="~/js/admin-website/module/user-data.js"></script>
@if (Model.IsMetaMaskRequired)
{
    <script src="~/js/contract/dashboard/lender-info.js"></script>
    <script src="~/js/admin-website/website.js"></script>
}
