@{
    var csc = "";
    var mode = "";
    @if (ViewBag.Country != null)
    {
        ViewBag.Title = $"{ViewBag.Country} List";
        csc = ViewBag.Country;
        mode = "countryform";
    }
    else if (ViewBag.State != null)
    {
        ViewBag.Title = $"{ViewBag.State}List";
        csc = ViewBag.State;
        mode = "stateform";
    }
    else if (ViewBag.City != null)
    {
        ViewBag.Title = $"{ViewBag.City} List";
        csc = ViewBag.City;
        mode = "cityform";
    }
    else
    {
        ViewBag.Title = $"{ViewBag.FormDescription} List";
        csc = ViewBag.FormName;
        mode = "form";
    }
}

<div class="full-page-heading">
    @ViewBag.Title
</div>
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <!--begin::Card-->
        <div class="card card-flush">
            <!--begin::Card header-->
            <div class="card-header mt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1 me-5">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <i class="fa fa-search"></i>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-category-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Category" />
                    </div>
                    <!--end::Search-->
                </div>
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <button type="button" class="btn btn-light-primary" onclick="location.href='/sadmin/borrower/@mode/@csc'">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <i class="fa fa-plus"></i>
                        </span>
                        <!--end::Svg Icon-->
                        Add  @ViewBag.FormDescription
                    </button>
                    <!--end::Button-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="kt_category_table">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">#</th>
                                <th>Form ID</th>
                                <th>Created At</th>
                                <th>Status</th>
                                <th>Data</th>

                                <th class="text-end min-w-50px">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>

<div id="jsonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="jsonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: auto; ">
        <div class="modal-content">
            <div class="modal-header">        
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-header bg-secondary text-white py-3" style="border-radius: 0.5rem 0.5rem 0 0;">
                        <h3 class="mb-1" style="font-weight: 600;">View Data</h3>
                    </div>
                    <div class="card-body" id="jsonData">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    let csc = '@csc';
</script>
<script src="~/js/sadmin/borrower.js"></script>
<script src="~/js/sadmin/module/user-data.js"></script>
<script src="~/js/sadmin/module/abi.js"></script>
<script src="~/js/sadmin/module/contract-address.js"></script>

