@using Gigras.Software.Database.Cyt.Entity.Models;
@model CytAdmin

@{
    ViewData["Title"] = "Super Admin Success Registration";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>SuccessRegistration</h1>
<p>
    Please check your email to verify your email before you Log in.
</p>