@using Gigras.Software.Database.Cyt.Entity.Models;
@model ITAdmin

@{
    ViewData["Title"] = "IT Super Admin Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card shadow-lg" style="border-radius: 15px;">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Forgot Your Password?</h3>
                        @if (ViewBag.Message != null)
                        {
                            <h3>@ViewBag.Message</h3>
                        }
                        else
                        {
                            <p class="text-center text-muted">Enter your email address to receive a reset link.</p>
                            <form method="post">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="Email">Email Address</label>
                                    <input asp-for="Email" type="email" id="Email" class="form-control" />
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>