@using Gigras.Software.Cyt.ViewModel;
@model LoginViewModel

@{
    ViewData["Title"] = "CYT Super Admin Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>
/*     .circle-container {
        margin-bottom: 20px;
        width: 300px; /* Set the desired size of the circle (adjust size here) */
        height: 300px; /* Set the desired size of the circle */
        overflow: hidden; /* Ensures that any overflow is clipped */
        border-radius: 50%; /* This makes the container a circle */
        display: inline-block; /* To center the image inside the container */
    }

    .circle-image {
        width: 100%; /* Image will fill the container */
        height: 100%; /* Image will fill the container */
        object-fit: cover; /* Ensures the image covers the circle completely */
    } */
</style>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                                <form method="post" class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Username or Email</label>
                                            <input asp-for="Username" type="text" id="form3Example1c" class="form-control" />
                                            <span class="text-danger" asp-validation-for="Username"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">Password</label>
                                            <input asp-for="Password" type="password" id="form3Example4c" class="form-control" />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <center>
                                                <dnt-captcha asp-captcha-generator-max="99"
                                                             asp-captcha-generator-min="11"
                                                             asp-captcha-generator-language="English"
                                                             asp-captcha-generator-display-mode="SumOfTwoNumbers"
                                                             asp-use-relative-urls="true"
                                                             asp-placeholder="Security code as a number"
                                                             asp-validation-error-message="Please enter the security code as a number."
                                                             asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                                                             asp-font-name="Tahoma"
                                                             asp-font-size="50"
                                                             asp-fore-color="#333333"
                                                             asp-back-color="#FCF6F5FF"
                                                             asp-text-box-class="form-control"
                                                             asp-text-box-template="<div class='input-group'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                                                             asp-validation-message-class="text-danger"
                                                             asp-refresh-button-class="fas fa-redo btn-sm"
                                                             asp-show-refresh-button="true"
                                                             asp-dir="ltr" />
                                            </center>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                    </div>
                                    <p>
                                        <a class="" href="@Url.Action("ForgotPassword", "sauth")">Forget Password</a>
                                    </p>
                                    <p>
                                        Don't have an account?
                                        <a class="" href="@Url.Action("register", "sauth")">Register</a>
                                    </p>
                                </form>
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                               @*  <div class="text-center">
                                    <div class="circle-container">
                                        <img src="~/images/logo.jpg" alt="IT Solution Provider" class="circle-image">
                                    </div>
                                    <h1 class="display-4">Welcome</h1>
                                    <p><a href="https://www.webcolorzinfotech.com/" target="_blank">https://www.webcolorzinfotech.com/</a></p>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>