@using Gigras.Software.Database.Cyt.Entity.Models;
@model CytAdmin

@{
    ViewData["Title"] = "CYT Super Admin Reset Password Successfully";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Your password has been reset successfully!</h2>
<a asp-action="Login">Login</a>