@{
    ViewData["Title"] = "Home Page";
}
<style>
    /*     .circle-container {
            margin-bottom: 20px;
            width: 300px; /* Set the desired size of the circle (adjust size here) */
    height: 300px; /* Set the desired size of the circle */
    overflow: hidden; /* Ensures that any overflow is clipped */
    border-radius: 50%; /* This makes the container a circle */
    display: inline-block; /* To center the image inside the container */
    }

    .circle-image {
        width: 100%; /* Image will fill the container */
        height: 100%; /* Image will fill the container */
        object-fit: cover; /* Ensures the image covers the circle completely */
    }

    */
</style>
@* <div class="text-center">
    <div class="circle-container">
        <img src="~/images/logo.jpg" alt="IT Solution Provider" class="circle-image">
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>
        <a href="https://www.webcolorzinfotech.com/" target="_blank">https://www.webcolorzinfotech.com/</a>
    </p>
</div> *@
